# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
.env
*.env

# Flask instance folder
instance/

# Virtual environments
venv/
env/
ENV/
.venv/
.ENV/

# macOS specific
.DS_Store

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# Logs and databases
*.log
*.sqlite3

# MySQL dumps
*.sql

# Pytest cache
.pytest_cache/

# Migrations
migrations/
